@model Hospital_Management_System.CollectionViewModels.PaymentCollection
@using Hospital_Management_System.Models

@{
    ViewBag.Title = "Invoice Payment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Invoice Payment</li>
        <li class="active">Add Invoice Payment</li>
    </ol>
</div>

<h2>Add Invoice Payment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="col">
        <div class="col-lg-10">

        </div>

        <div class="col-lg-2">

            <input type="button" class="btn btn-primary" value="Print Payment Details" onclick="window.print()" />

        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Payment.PatientId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Payment.PatientId, new SelectList(Model.Patients, "Id", "FullName"), "Select Patient", new { @id = "dropdown1", @class = "form-control" })
            <br />
            @Html.ValidationMessageFor(model => model.Payment.PatientId, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Payment.PaymentDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Payment.PaymentDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Payment.PaymentDate, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Payment.InvoiceRefNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Payment.InvoiceRefNo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Payment.InvoiceRefNo, "", new { @class = "text-danger" })
        </div>
    </div>

    @{

        var ServiceRecivedlist = new List<Payment>
{
                new Payment {ServiceRecived = " Individual Assessment and Psychotherapy"},
                new Payment {ServiceRecived = "Family Therapy"},
                new Payment {ServiceRecived = "Couple / Relationship Issue"},
                new Payment {ServiceRecived = "Depression"},
                new Payment {ServiceRecived = "Anxiety"},
                new Payment {ServiceRecived = "Trauma"},
                new Payment {ServiceRecived = "Loss or Grief"},
                new Payment {ServiceRecived = "Personality Disorders"},
                new Payment {ServiceRecived = "Stress Management"},
                new Payment {ServiceRecived = "Self-esteem"},
                new Payment {ServiceRecived = "Anger Management"},
                new Payment {ServiceRecived = "Self-destructive Behaviors"},
                new Payment {ServiceRecived = "Parenting and Work related issues"},

            };




    }

    <div class="form-group">
        @Html.LabelFor(model => model.Payment.ServiceRecived, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Payment.ServiceRecived, new SelectList(ServiceRecivedlist, "ServiceRecived", "ServiceRecived"), "Select Service Recived", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Payment.ServiceRecived, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Payment.HoursOfService, htmlAttributes: new { @class = "control-label col-md-2" })<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="popover" title="Consultation Hours" data-content="How many hours did the patient consult?">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
    <div class="col-md-10">
        @Html.EditorFor(model => model.Payment.HoursOfService, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Payment.HoursOfService, "", new { @class = "text-danger" })
    </div>
</div>

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(model => model.Payment.ServiceAmount, htmlAttributes: new { @class = "control-label col-md-4" })<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="popover" title="Total service amount" data-content="1 hour=R500 2 hours=R1000 3hours=R1500">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
    <div class="col-md-8">
        @Html.EditorFor(model => model.Payment.ServiceAmount, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Payment.ServiceAmount, "", new { @class = "text-danger" })
    </div>
</div>

            <div class="form-group">
                @Html.LabelFor(model => model.Payment.PaidbyMedicalAid, htmlAttributes: new { @class = "control-label col-md-4" })<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="popover" title="Medical aid Amount" data-content="Only for Patients with Medical Aid-Check Medical Aid Payment">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
    <div class="col-md-8">
        @Html.EditorFor(model => model.Payment.PaidbyMedicalAid, new { @id = "PaidbyMedicalAid", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Payment.PaidbyMedicalAid, "", new { @class = "text-danger" })
    </div>
</div>

            <div class="form-group">
                @Html.LabelFor(model => model.Payment.PayByCash, htmlAttributes: new { @class = "control-label col-md-4" }) <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="popover" title="Paid Cash" data-content="Paid immediately afer consultation-Cash or Card">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
    <div class="col-md-8">
        @Html.EditorFor(model => model.Payment.PayByCash, new { @id = "PayByCash", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Payment.PayByCash, "", new { @class = "text-danger" })
    </div>
</div>

            <div class="form-group">
                @Html.LabelFor(model => model.Payment.TotalDue, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Payment.TotalDue, new { @id = "TotalDue", @class = "form-control"   })
                    @Html.ValidationMessageFor(model => model.Payment.TotalDue, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">

        </div>
    </div>
</div>
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input  n type="submit" value=">>>>>>>>>>>>>>>>>>>>>>>>>> Save <<<<<<<<<<<<<<<<<<<<<<<<" class="btn btn-success" />
                    </div>
                </div>
            </div>

        </div>
    </div>
 }

        <div>
            @Html.ActionLink("Back to List", "ListOfPayment")

        </div>


        @section scripts
{
            @Scripts.Render("~/bundles/jqueryval")

            <script>
                $(function () {
                    $("#dropdown1").chosen();
                });
                $(function () {
                    $("#dropdown2").chosen();
                });

              
            </script>
        }


