@using Hospital_Management_System.Models
@model Hospital_Management_System.CollectionViewModels.ConsultationCollection

@{
    ViewBag.Title = "AddConsulation";
    Layout = "~/Views/Shared/_PsychologistLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Consulation</li>
        <li class="active">Add Consulation</li>
        <button class="btn btn-success" onclick="window.location.href='https://www.psychiatry.org/psychiatrists/practice/dsm';">
            DSM:Diagnosis Information
        </button>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="popover" title="Diagnosis" data-content="Educational resources(American Association) on how to diagnose a patient">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
    </ol>
</div>

<h2>Add Consulation</h2>


<form action="" method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Consultation.Id)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            @Html.LabelFor(model => model.Consultation.PatientId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Consultation.PatientId, new SelectList(Model.Patients, "Id", "FullName"), "Select Patient", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Consultation.PatientId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Consultation.ConsultationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Consultation.ConsultationDate, new { htmlAttributes = new { @class = "form-control" } })
                @if (ViewBag.Messege != null)
                {
                    <span class="text-danger">@ViewBag.Messege</span>
                }
                @Html.ValidationMessageFor(model => model.Consultation.ConsultationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Consultation.Diagnosis, htmlAttributes: new { @class = "control-label col-md-2" })<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="popover" title="Diagnosis" data-content="Please click on the DSM Diagnosis Info button above to find out more information about the diagnosis">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />

                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Consultation.Diagnosis, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Consultation.Diagnosis, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Consultation.TreatmentPlan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Consultation.TreatmentPlan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Consultation.TreatmentPlan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUpload, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ImageUpload, new { type = "file" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Consultation" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "ListOfConsultation")
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
            ;
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
}

